@model Wheather.Models.IndexModel
@{
    ViewBag.Title = "Index";
}

<html>
<head>
    <title>Weather</title>
    <link rel="stylesheet" type="text/css" href="~/Content/Site.css" />
</head>
<body>
    <div class="body">

        <div class="main">
            <h1>Smile</h1>
            <h2>Whatever the weather is, the more important that you have in your heart</h2>
            @Html.ActionLink("History", "History")
        </div>
        
        <div class="cities-managment">
            <div class="add-city">
                <h5>Add City</h5>
                <input type="text" id="add-city"/>
                <input type="button" id="add-city-btn" value="Add City"/>
            </div>
            <div class="delete-city">
                <h5>Delete City</h5>
                <input type="text" id="delete-city" />
                <input type="button" id="delete-city-btn" value="Delete City"/>
            </div>
            <div class="update-cities">
                <h5>Update Cities</h5>
                <input type="text" id="update-cities" />
                <input type="button" id="update-cities-btn" value="Update Cities"/>
            </div>
        </div>

        <div class="select">
            <p>Select a city:</p>
            <select name="citySelect">
                <option placeholder="-select city-" value="">-select city-</option>
                @foreach (var city in Model.Cities)
                {
                    <option value="@city">@city</option>
                }
            </select><br />
            </div>

        <div class="text">
            <p>Or write another:</p>
            <input id="cityText" type="text" name="city" placeholder="City" />
        </div>

        <div class="radio">
            <p>Choose how much perid you want to see the weather</p>
            <form>

                <input type="radio" name="radio" value="1" checked>now <br>
                <input type="radio" name="radio" value="3"> the next three days<br>
                <input type="radio" name="radio" value="7"> the next seven days

            </form>
        </div>

        <div>
            <input id="but" type="submit" value="Find out the weather" />
        </div>

        <div id="infa"></div>

    </div>
</body>
</html>


<script src="~/Scripts/JavaScript.js">
</script>

