<div class="main">
  <div class="header">
    Whatever the weather is, the more important that you have in your heart...
  </div>
  <div class="info">
    <span>Some information</span>
    Our company is very concerned about you and wants you to be always confident in the weather. Have not forgotten to take an umbrella or sunglasses. Therefore, we offer you to find out the exact weather, even a few days ahead. Enjoy your vacation or walks in spite of the weather.
  </div>
  <div class="contacts">
    You can contact us using:

333-874-256
weatherForYou@gmail.com
c. Lviv, str. Zelena\278
  </div>
</div>