body {
    padding-top: 50px;
    padding-bottom: 20px;
     background: -webkit-linear-gradient(#ccd5e2, #b0c5e5, #4f73af, #263f68);
    }

/* Set padding to keep  from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.main{
    font-weight:bold;
    padding: 3%;
    margin: 2%;
    text-align:center;
    border:   groove;
    border-color: black;
    border-radius:1% ;
}

.select{
    margin:2%;
    padding:2%;
     font-weight:bold;
}
.text{
     font-weight:bold;
    margin:1%;
    padding:1%;
}

.radio{
     font-weight:bold;
    padding: 1%;
    margin: 1%;
}
