body {
    padding-bottom: 10px;
    padding-top: 10px;
    background: -webkit-linear-gradient(#ccd5e2, #b0c5e5, #4f73af, #263f68);

    }


/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#header{
    font-weight:bold;
    padding-top: 35px;
    margin-top: 15px;


}

.logoName{
    width: 50%;
    height:20%;
    display:inline-block;
}

.logoName img{
    float:left;
    width:100px;
    height:100px;
    background: #555;
}
.logoName h1{
    position:relative;
    top:20px;
    left:10px;
    padding: 2%;
}

.logoName p{
    
    padding-top:5%;
    display:block;
    width:100%;
    height:20%;
}

.cities-managment {
    float:right;
    justify-content: space-between;
    width: 40%;
}

.cities-managment > div {
    width: 200px;
    padding-bottom:5px;

}
input[type="text"]{
    background-color:white;
}



#content{
    display:flex;
    flex-direction: column;
    position:center;
    width:100%;
    justify-content: space-between;
    margin:5%;
    align-items:center;
}

.main-content {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.select {
    margin: 2%;
    padding: 2%;
    font-weight: bold;
}
.text{
     font-weight:bold;
    margin:1%;
    padding:1%;
}

.radio{
     font-weight:bold;
    padding: 1%;
    margin: 1%;
}

.weather-list {
    display: flex;
    flex-direction: column;
}

.weather {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    background: transparent;
}

.weather h2, .weather h5, .weather-list h2 {
    text-align: center;
}

.weather img {
    height: 50px;
    width: 50px;
    align-self: center;
}
#but{
    width:100%;
    height:60px;
    font-weight:bold;
}




.history-container {
    display: flex;
    flex-direction: column;

    text-align: center;
}

.history-container > .history-item {
    
}

#footer{
    font-weight:bold;
    display:flex;
    justify-content:space-between;
}

.infaAbout h4{
    font-weight:bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.infaAbout{
    width:60%;
}
.contact{
    padding:2%;
    border:dotted;
    border-radius:5px;
}